body{
background:#0b1220;
color:white;
font-family:Arial;
margin:0;
}

header{
background:linear-gradient(90deg,#ff7a18,#ff3d3d);
padding:18px;
text-align:center;
font-size:22px;
font-weight:bold;
}

.container{
width:95%;
margin:auto;
}

h2{
margin-top:25px;
}

table{
width:100%;
border-collapse:collapse;
background:#111827;
border-radius:10px;
overflow:hidden;
}

td,th{
padding:14px;
border-bottom:1px solid #222;
}

th{
color:#9ca3af;
font-size:14px;
}

.rank{
background:#ef4444;
padding:4px 10px;
border-radius:20px;
font-weight:bold;
}

.matches{
margin-top:20px;
}

.match{
background:#1f2937;
margin-bottom:10px;
padding:14px;
border-radius:8px;
display:flex;
justify-content:space-between;
font-size:18px;
}

.table{
color:#f59e0b;
font-weight:bold;
}
